nav{
  display: flex;
  justify-content: space-between;
  background-color: #D7E1A6;
  align-items: center;
  padding-left: 5px;
  padding-right: 5=px;
}
.logo{
  font-size: 20px;
  color: blue;
  color: #fff;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 8px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
}
